# Halium modifications from Droidian

# Halium errors from Droidian
CONFIG_VT=y
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_EPOLL=y
CONFIG_PROC_FS=y
CONFIG_DUMMY=n
CONFIG_INOTIFY_USER=y
CONFIG_RD_GZIP=y
CONFIG_TIMERFD=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_SIGNALFD=y
CONFIG_QUOTACTL=y
CONFIG_SYSVIPC=y
CONFIG_IPC_LOGGING=y
CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_NLS_UTF8=y
CONFIG_SYSFS=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_COMPAT_VDSO=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=y

# Halium warnings from Droidian.
CONFIG_WATCHDOG_NOWAYOUT=n # Enable once there is dsme or an alternative
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_UDF_FS=y
CONFIG_NETFILTER_XT_MATCH_SCTP=y
CONFIG_NETFILTER_XT_CONNMARK=y
CONFIG_NETFILTER_XT_MATCH_RECENT=y
CONFIG_NETFILTER_XT_MATCH_ESP=y
CONFIG_NETFILTER_XT_MATCH_DCCP=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_UTS_NS=y
CONFIG_TMPFS_XATTR=y
CONFIG_BLK_CGROUP=y
CONFIG_FANOTIFY=y
CONFIG_CGROUP_PERF=y
CONFIG_CPUSETS=y
CONFIG_LBDAF=y
CONFIG_CGROUP_DEVICE=y
CONFIG_IPC_NS=y
CONFIG_NETPRIO_CGROUP=y
CONFIG_MEMCG_KMEM=y
CONFIG_RTC_DRV_CMOS=y

## REQUIRED crdroid by mer halium tool
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

## Bluetooth vayu crdroid by mer halium tool
CONFIG_BT=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIUART=y
CONFIG_BT_BNEP=y
CONFIG_BT_HIDP=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_HCIVHCI=y
CONFIG_BT_RFCOMM_TTY=y

## Halium 12?
#CONFIG_NULL_TTY=y

## Other halium configs by mer hallium tool
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_LOCALVERSION="-halium"
CONFIG_NETFILTER_NETLINK_ACCT=y
CONFIG_AUTOFS4_FS=y
CONFIG_IP6_NF_MATCH_AH=y
CONFIG_SCHEDSTATS=y
CONFIG_ISO9660_FS=y
CONFIG_BTRFS_FS=y
CONFIG_LOCKD=y
CONFIG_CUSE=y
CONFIG_LOCKD_V4=y
CONFIG_IP6_NF_MATCH_MH=y
CONFIG_IP6_NF_MATCH_FRAG=y
CONFIG_BLK_DEV_NBD=y


## DUMMIE CONSOLE
# CONFIG_DUMMY_IRQ is not set
# CONFIG_DUMMY is not set
CONFIG_DUMMY_CONSOLE=y
CONFIG_DUMMY_CONSOLE_COLUMNS=80
CONFIG_DUMMY_CONSOLE_ROWS=25


## SELINUX
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE=0
CONFIG_SECURITY_SELINUX_DISABLE=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_AVC_STATS=y
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=1
CONFIG_SECURITY_SELINUX_SIDTAB_HASH_BITS=9

## NFS (Optional)
# CONFIG_NFS_ACL_SUPPORT=y
# CONFIG_NFS_COMMON=y
# CONFIG_SUNRPC_GSS=y
# CONFIG_NFS_USE_KERNEL_DNS=y
#CONFIG_NFS_V4=y
#CONFIG_SUNRPC=y
#CONFIG_NFS_V4_1=y
#CONFIG_NFS_FS=y

## Other configs from fxtecprox
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_USER_NS=y
CONFIG_FHANDLE=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_NF_NAT_IPV6=y
CONFIG_VLAN_8021Q=y
ONFIG_MACVLAN=y




## Wireguard configs
CONFIG_NET_UDP_TUNNEL=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_WIREGUARD=y
CONFIG_WIREGUARD_DEBUG=y


## Remaining in Droidian porting guide
CONFIG_NAMESPACES=y
CONFIG_MODULES=y

