# Ensure overlay gets built
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# WLAN
CONFIG_QCA_CLD_WLAN=y

## Sound Extras
CONFIG_SND_SEQUENCER=y

# OTG
CONFIG_USB_OTG=y

## From vacummbeef)
# stune is needed by droidian-perf.service
CONFIG_CGROUP_SCHEDTUNE=y
CONFIG_SCHED_TUNE=y
CONFIG_SCHED_AUTOGROUP=y

## Virtualization
CONFIG_VIRTUALIZATION=y
## KVM
CONFIG_KVM=y
CONFIG_HARDEN_BRANCH_PREDICTOR=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_MMU_NOTIFIER=y
# CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY is not set
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_HAVE_KVM_IRQFD=y
CONFIG_HAVE_KVM_IRQ_ROUTING=y
CONFIG_HAVE_KVM_EVENTFD=y
CONFIG_KVM_MMIO=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_KVM_VFIO=y
CONFIG_HAVE_KVM_ARCH_TLB_FLUSH_ALL=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_KVM_COMPAT=y
CONFIG_KVM_ARM_HOST=y
CONFIG_KVM_ARM_PMU=y


## Fix error --thinlto-cache-dir=.thinlto-cache unknown option
#CONFIG_LTO is not set
#CONFIG_ARCH_SUPPORTS_LTO_CLANG is not set
#CONFIG_ARCH_SUPPORTS_THINLTO is not set
#CONFIG_THINLTO is not set
#CONFIG_LTO_NONE is not set
#CONFIG_LTO_CLANG is not set

## kernel image compression
# CONFIG_BUILD_ARM64_UNCOMPRESSED_KERNEL is not set
CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_GZIP=y
CONFIG_KERNEL_GZIP=y
CONFIG_HAVE_KERNEL_GZIP=y
# CONFIG_HAVE_KERNEL_LZ4 is not set
# CONFIG_KERNEL_LZ4 is not set

# CIFS
CONFIG_CIFS=y

## UBPorts kernel configs
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_ZRAM_WRITEBACK=y
# CONFIG_DM_BOW is not set
# CONFIG_ROCKER is not set
CONFIG_SYSFS_SYSCALL=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_SLUB_CPU_PARTIAL=y
CONFIG_REFCOUNT_FULL=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
# CONFIG_HAVE_LOW_MEMORY_KILLER is not set
CONFIG_PROCESS_RECLAIM=y
# CONFIG_XFRM_STATISTICS is not set
# CONFIG_PANIC_ON_REFCOUNT_ERROR is not set
CONFIG_TCP_CONG_ADVANCED=y
# CONFIG_TCP_CONG_BIC is not set
# CONFIG_TCP_CONG_WESTWOOD is not set
# CONFIG_TCP_CONG_HTCP is not set
# CONFIG_TCP_CONG_HSTCP is not set
# CONFIG_TCP_CONG_HYBLA is not set
# CONFIG_TCP_CONG_VEGAS is not set
# CONFIG_TCP_CONG_NV is not set
# CONFIG_TCP_CONG_SCALABLE is not set
# CONFIG_TCP_CONG_LP is not set
# CONFIG_TCP_CONG_VENO is not set
# CONFIG_TCP_CONG_YEAH is not set
# CONFIG_TCP_CONG_ILLINOIS is not set
# CONFIG_TCP_CONG_DCTCP is not set
# CONFIG_TCP_CONG_CDG is not set
CONFIG_TCP_CONG_BBR=y
# CONFIG_DEFAULT_CUBIC is not set
CONFIG_DEFAULT_BBR=y
# CONFIG_DEFAULT_RENO is not set
CONFIG_DEFAULT_TCP_CONG="bbr"
# CONFIG_NET_SWITCHDEV is not set


## Configs noves crdroid7
CONFIG_LEDS_QCOM_CLK=y

## Configs noves crdroid7 DESACTIVADES
# CONFIG_UFSFEATURE30 is not set
# CONFIG_IMG_DTB is not set
# CONFIG_EDAC_DEBUG is not set
# CONFIG_EDAC_THUNDERX is not set
# CONFIG_EDAC_KRYO_ARM64_POLL is not set
# CONFIG_EDAC_KRYO_ARM64_PANIC_ON_CE is not set
# CONFIG_EDAC_GIC is not set
# CONFIG_EDAC_XGENE is not set
# CONFIG_EDAC_CORTEX_ARM64 is not set
# CONFIG_EDAC_QCOM_LLCC is not set
# CONFIG_VSERVICES_DEBUG is not set
# CONFIG_VSERVICES_SKELETON_DRIVER is not set
# CONFIG_VSERVICES_NAMED_DEVICE is not set CONFIG_UFSHPB is not set

## enabled by default in crdroid




# CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE is not set
# CONFIG_ARM64_LSE_ATOMICS is not set
#
#CONFIG_UFSFEATURE31 is not set
#CONFIG_UFSFEATURE is not set
#CONFIG_UFSTW is not set
#CONFIG_UFSTW_IGNORE_GUARANTEE_BIT is not set
#CONFIG_UFSTW_BOOT_ENABLED is not set
#CONFIG_ARCH_INLINE_SPIN_TRYLOCK is not set
#CONFIG_ARCH_INLINE_SPIN_TRYLOCK_BH is not set
#CONFIG_ARCH_INLINE_SPIN_LOCK is not set
#CONFIG_ARCH_INLINE_SPIN_LOCK_BH is not set
#CONFIG_ARCH_INLINE_SPIN_LOCK_IRQ is not set
#CONFIG_ARCH_INLINE_SPIN_LOCK_IRQSAVE is not set
#CONFIG_ARCH_INLINE_SPIN_UNLOCK is not set
#CONFIG_ARCH_INLINE_SPIN_UNLOCK_BH is not set
#CONFIG_ARCH_INLINE_SPIN_UNLOCK_IRQ is not set
#CONFIG_ARCH_INLINE_SPIN_UNLOCK_IRQRESTORE is not set
#CONFIG_ARCH_INLINE_READ_TRYLOCK is not set
#CONFIG_ARCH_INLINE_READ_LOCK is not set
#CONFIG_ARCH_INLINE_READ_LOCK_BH is not set
#CONFIG_ARCH_INLINE_READ_LOCK_IRQ is not set
#CONFIG_ARCH_INLINE_READ_LOCK_IRQSAVE is not set
#CONFIG_ARCH_INLINE_READ_UNLOCK is not set
#CONFIG_ARCH_INLINE_READ_UNLOCK_BH is not set
#CONFIG_ARCH_INLINE_READ_UNLOCK_IRQ is not set
#CONFIG_ARCH_INLINE_READ_UNLOCK_IRQRESTORE is not set
#CONFIG_ARCH_INLINE_WRITE_TRYLOCK is not set
#CONFIG_ARCH_INLINE_WRITE_LOCK is not set
#CONFIG_ARCH_INLINE_WRITE_LOCK_BH is not set
#CONFIG_ARCH_INLINE_WRITE_LOCK_IRQ is not set
#CONFIG_ARCH_INLINE_WRITE_LOCK_IRQSAVE is not set
#CONFIG_ARCH_INLINE_WRITE_UNLOCK is not set
#CONFIG_ARCH_INLINE_WRITE_UNLOCK_BH is not set
#CONFIG_ARCH_INLINE_WRITE_UNLOCK_IRQ is not set
#CONFIG_ARCH_INLINE_WRITE_UNLOCK_IRQRESTORE is not set
#CONFIG_INLINE_SPIN_TRYLOCK is not set
#CONFIG_INLINE_SPIN_TRYLOCK_BH is not set
#CONFIG_INLINE_SPIN_LOCK is not set
#CONFIG_INLINE_SPIN_LOCK_BH is not set
#CONFIG_INLINE_SPIN_LOCK_IRQ is not set
#CONFIG_INLINE_SPIN_LOCK_IRQSAVE is not set
#CONFIG_INLINE_SPIN_UNLOCK_BH is not set
#CONFIG_INLINE_SPIN_UNLOCK_IRQ is not set
#CONFIG_INLINE_SPIN_UNLOCK_IRQRESTORE is not set
#CONFIG_INLINE_READ_TRYLOCK is not set
#CONFIG_INLINE_READ_LOCK is not set
#CONFIG_INLINE_READ_LOCK_BH is not set
#CONFIG_INLINE_READ_LOCK_IRQ is not set
#CONFIG_INLINE_READ_LOCK_IRQSAVE is not set
#CONFIG_INLINE_READ_UNLOCK is not set
#CONFIG_INLINE_READ_UNLOCK_BH is not set
#CONFIG_INLINE_READ_UNLOCK_IRQ is not set
#CONFIG_INLINE_READ_UNLOCK_IRQRESTORE is not set
#CONFIG_INLINE_WRITE_TRYLOCK is not set
#CONFIG_INLINE_WRITE_LOCK is not set
#CONFIG_INLINE_WRITE_LOCK_BH is not set
#CONFIG_INLINE_WRITE_LOCK_IRQ is not set
#CONFIG_INLINE_WRITE_LOCK_IRQSAVE is not set
#CONFIG_INLINE_WRITE_UNLOCK is not set
#CONFIG_INLINE_WRITE_UNLOCK_BH is not set
#CONFIG_INLINE_WRITE_UNLOCK_IRQ is not set
#CONFIG_INLINE_WRITE_UNLOCK_IRQRESTORE is not set
# CONFIG_IMG_GZ_DTB is not set
#CONFIG_BUILD_ARM64_APPENDED_KERNEL_IMAGE_NAME="Image.gz-dtb"
# CONFIG_BUILD_ARM64_APPENDED_KERNEL_IMAGE_NAME is not set
# CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES is not set
#CONFIG_UNIX_SCM is not set
#CONFIG_EDAC_KRYO_ARM64_PANIC_ON_UE is not set
#CONFIG_EDAC_KRYO_ARM64 is not set
#CONFIG_VSERVICES_SUPPORT is not set
#CONFIG_VSERVICES_CHAR_DEV is not set
#CONFIG_VSERVICES_LOCK_DEBUG is not set
#CONFIG_VSERVICES_SERVER is not set
#CONFIG_VSERVICES_CLIENT is not set
#CONFIG_VSERVICES_OKL4_AXON is not set
#CONFIG_VSERVICES_PROTOCOL_BLOCK is not set
#CONFIG_VSERVICES_PROTOCOL_BLOCK_SERVER is not set
#CONFIG_VSERVICES_PROTOCOL_BLOCK_CLIENT is not set
#CONFIG_VSERVICES_PROTOCOL_SERIAL is not set
#CONFIG_VSERVICES_PROTOCOL_SERIAL_SERVER is not set
#CONFIG_VSERVICES_PROTOCOL_SERIAL_CLIENT is not set
